
.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}


.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}

.fullscreen-container {
    width: 100%;
    position: relative;
    padding: 0;
}
.fullscreen-s-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.rev-slider-image{
    max-width: 800px !important;
}
