
{{ partial('index/index/10.home') }}
{{ partial('index/index/20.about') }}
{{ partial('index/index/30.servicios') }}
{{ partial('index/index/40.galeria') }}
{{ partial('index/index/50.blog') }}
{{ partial('index/index/55.clientes') }}
{{ partial('index/index/60.contactos') }}
{{ content() }}
{{ partial('index/index/70.footer') }}
{{ partial('index/index/80.modal_servicios') }}
