<!-- Head Section -->
<section class="small-section   parallax-2"
         data-background="/images/galeria_completa/0.jpg?0">
    <div class="relative container align-left">

        <div class="row">

            <div class="col-md-8" style="    background-color: #0000008c;
    padding: 20px;">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0" style="color:white !important;">Galería</h1>
            </div>


        </div>

    </div>
</section>
<!-- End Head Section -->